<h2> Education </h2>
	<p>
		<b>University of Massachusetts Dartmouth</b>, Dartmouth, MA
	<br>
		B.A in Political Science, August 2019
	<br>
		GPA 3.18, Dean’s List 2018 and 2019
	</p>

	<p>
		<b>Framingham State University</b>, Framingham, MA
	<br>
		Political Science Coursework 2015-2017
	<br>
		Dean’s List 2017
	<br>
	</p>
<h2> Advocacy and Outreach Experience </h2>
	<p>
		<span class="text-left"><b>All In Energy</b> </span> <span class="text-right">Massachusetts</span>
	<br>
		<span class="text-left"><i>Outreach Events Representative</i></span> <span class="text-right">July 2019 - Present</span>
	<br>
		<ul>
			<li>Sets up and staffs company tables at public events throughout the state</li>
			<li>Educates residents of MA about the benefits of the Mass Save program and schedules them for home energy assessments</li>
			<li>Maintains contact with residents interested in Mass Save over the phone and through email</li>
		</ul>
	</p>

	<p>

		<span class="text-left"><b>American Student Assistance (ASA)</b></span> <span class="text-right">Boston, MA</span>
	<br>
		<span class="text-left"><i>Advocacy Research Intern</i></span> <span class="text-right">August 2019- December</span>
	<br>
		<ul>
			<li>Conducts research about the legislative process of state governments and writes reports of findings</li>
			<li>Researches education policies of states throughout the country and writes memos summarizing them and analyzing support/opposition to them</li>
			<li>Maintains spreadsheets tracking the status of legislation relevant to ASA’s mission</li>
			<li>Assists the advocacy team with other research projects and staffs events as directed</li>
		</ul>
	</p>
	<p>
		<span class="text-left"><b>MASSPIRG - Umass Dartmouth Chapter</b></span> <span class="text-right">Dartmouth, MA</span>
	<br>
		<span class="text-left"><i>Chapter Chair</i></span> <span class="text-right">2018-2019</span>
	<br>
		<ul>
			<li>Planned and led campus events throughout the school year</li>
			<li>Facilitated weekly organizational meetings throughout the school year</li>
			<li>Recruited volunteers and interns for campaign work in causes such as 100% renewable energy on campus</li>
			<li>Trained student leaders to organize for campaign initiatives</li>
			<li>Developed campaign goals and strategies. Documented efforts using Microsoft Office products</li>
		</ul>
	<br>
	<span class="text-left"><i>Campaign Coordinator</i></span> <span class="text-right"> 2018-2019</span>
	<br>
	<ul>
		<li>Developed and implemented strategies to meet goal of achieving 100% renewable energy on campus</li>
		<li>Petitioned students and school administration to support our campaign goals</li>
		<li>Lobbied state officials in support of environmental legislation in MA</li>
	</ul>
	</p>

	<p>
		<span class="text-left"><b>Committee to Elect Jay Gonzalez</b></span><span class="text-right">Cambridge, MA</span>
	<br>
		<span class="text-left"><b>Organizer/Intern</b></span> <span class="text-right">May-November 2018</span>
	<br>
		<ul>
			<li>Engaged with voters in various ways, to include: door-to-door, over the phone, and online to support the campaign</li>
			<li>Recruited and trained volunteers in how to canvass the local community and engage with voters via phone bank</li>
			<li>Organized volunteer canvassing events to support the candidate</li>
			<li>Logged data of grassroots support for the candidate using Microsoft Word and Excel</li>
 		</ul>
	</p>

	<p>
		<span class="text-left"><b>Raise Up! Massachusetts</b></span> <span class="text-right">Dartmouth, MA</span>
	<br>
		<span class="text-left"><i>Volunteer</i></span> <span class="text-right">Fall 2017</span>
	<br>
		<ul>
			<li>Educated voters on ballot initiatives through face-to-face interactions in the local community</li>
			<li>Encouraged voters to sign ballot petitions on various topics during the 2018 midterm elections</li>
		</ul>
	</p>
<h2> Skills </h2>
	<ul>
		<li>Self motivated</li>
		<li>Excellent verbal and written communication skills</li>
		<li>Deadline-driven</li>
		<li>Strong leadership abilities in team-building, strategy facilitation, and task delegation</li>
		<li>Proficient in using Microsoft Office products such as Word, Powerpoint, and Excel</li>
		<li>Extensive experience conducting literature reviews of various topics within political science and other scholarly fields</li>
		<li>Experience using the Statistical Package for the Social Sciences (SPSS) to conduct analytical analysis of data sets</li>
		<li>Experience using Qualtrics to create surveys</li>
	</ul>
